@charset "utf-8";
.searchArea{width:467px;height:34px;float:left;padding:30px 0 0 165px;overflow:hidden}
.searchInput{width:266px;height:32px;border:1px #E7E6E6 solid;outline:none;overflow:hidden;float:left;text-indent:25px;background:;}/*Spriter*/
.searchGoods,.searchShops{width:98px;height:34px;float:left;border:none;background:#E7E6E6;cursor:pointer;color:#767676}
.searchGoods{margin-right:3px}

.nav2{height:30px;padding-bottom:5px}
.nav2 li{width:80px;height:30px;text-align:center;float:left}
.nav2 li a{line-height:30px;color:#4390C8;width:80px;height:30px;float:left;font-weight:bold;font-size:14px}
.nav2 li a:hover{color:#fff;background:#4390C8;}
.flash2{width:710px;height:319px;float:left;overflow:hidden}
.container2{width:710px;height:307px;margin-bottom:2px}
.container2 li{width:710px;height:307px;}
.bannerNav2{width:710px;height:10px}
.bannerNav2 li{float:left;width:140px;height:8px;overflow:hidden;border:1px #fff solid; background:#A1A1A1}
.bannerNav2 li a{width:140px;height:8px;float:left;overflow:hidden;}
.bannerNavHover2{background:#4390C8!important;}
.sideNews{width:230px;height:319px;float:left;overflow:hidden}
.aside{height:auto;width:210px;padding:6px 10px 0 10px;background:#fff;float:left;overflow:hidden}
.aside dt{width:210px;height:33px;line-height:33px}
.aside dd{width:210px;height:35px;line-height:35px;border-top:1px #ddd dotted;overflow:hidden}
.minBanner{width:230px;height:60px;float:left;overflow:hidden}
.sideNews dl{height:253px;}
.topTitle{width:950px;height:27px;float:left}
.topNav{width:950px;height:52px; border-bottom:1px #E7E7E7 solid;float:left}
.topNav li{width:135px;height:52px;float:left}
.content1{width:940px;height:290px;float:left;background:#fff;padding:10px 0 0 10px}
.content2{width:940px;height:290px;float:left;background:#fff;padding:10px 10px 0 0}
.content1 div{margin:0 6px 6px 0;float:left;overflow:hidden}
.content2 div{margin:0 0 6px 6px;float:right;overflow:hidden;display:inline}
.contents1{width:220px;height:280px;}
.contents2{width:136px;height:137px;}
.contents3{width:194px;height:137px;}
.contents4{width:220px;height:137px;}

.quickContact{width:120px;height:220px;right:0;z-index:999;position:absolute;background:black}
.goTop{width:40px;height:64px;position:fixed;bottom:0;right:0;z-index:998;background:#ddd}

.fallsTop{width:940px;padding:10px 0 10px 10px;background:#fff}
.fallsTopTitle{width:940px;height:50px;text-align:center;line-height:50px;float:left}
.fallsTopContent{width:940px;height:auto;float:left}
.fallsTopContent li{width:210px;padding-right:10px;height:90px;float:left;overflow:hidden}
.fallsTopContent li h3{width:210px;height:30px;padding-top:10px;float:left; font-weight:normal}
.fallsTopContent li .fallsTopContentImg{width:50px;height:50px;float:left;overflow:hidden;}
.fallsTopContent li p{width:150px;height:50px;float:left;overflow:hidden;line-height:23px}
.fallsTopContent li p a{padding-right:15px}
.categoryTitle,.categoryTitle2{height:40px;margin-bottom:2px;background:#fff}
.categoryTitle b,.categoryTitle2 b{padding:0 55px 0 32px; line-height:40px; float:left;width:auto}
.categoryTitle2{background:none}

.sort{line-height:40px;width:84px;float:left;text-indent:20px;background:;}/*Spriter*/

.box{background:#fff;width:210px;padding:10px;margin-bottom:10px;overflow:hidden;color:#333; font-size:12px}
.boxImg{width:210px;float:left}
.box h2{width:210px;line-height:26px;float:left;border-bottom:1px #C6C6C6 dotted}
.box h2 a{color:#333;font-weight: normal; font-size:12px}
.box .price{width:210px; height:27px;line-height:27px; float:left;overflow:hidden}
.box .price span{width:60px;height:27px;float:left;color:#FF0000}
.box .price var{width:150px;height:27px;float:left;text-align:right;font-style:normal}
.box .price var em{font-style:normal}
.page{height:40px;background:#fff}
.page .next,.page .pre{width:110px;height:40px;line-height:40px;margin-left:5px;float:right;background:#4390C8;text-align:center;color:#fff}
.page .pageList{float:right;width:30px;height:30px;margin:4px 0 0 5px; border:1px #F0F0F0 solid; text-align:center; line-height:30px}
.page .next{}
.page .pre{}

.chartBanner{height:310px;padding:10px;width:930px!important;overflow:hidden;background:#fff}
.chart{width:930px;padding:10px;height:215px;background:#fff}
.chartTitle{width:930px;height:30px;float:left;line-height:30px;text-indent:10px}
.chartGoods{width:724px;height:185px;float:left;overflow:hidden}
.chartGoods li{width:175px;height:185px;float:left;position:relative;margin-right:6px;overflow:hidden}
.chartGoods li .chartGoodsImg{width:175px;height:185px;overflow:hidden}
.chartGoods li h3{position:absolute;z-index:2;width:175px;height:30px;left:0;bottom:0;text-indent:10px;line-height:30px;background:#fff;filter:alpha(opacity=80);opacity:0.8}
.chartShops{width:206px;height:185px;float:left;overflow:hidden}
.chartShops li{width:206px;height:30px;line-height:30px;border-bottom:1px #fff solid;background:#E7E7E7;text-indent:10px;line-height:30px;}


.nav3{height:30px;line-height:30px;margin-bottom:1px;background:#fff;line-height:30px}
.nav3 a{width:120px;height:30px;float:left;text-indent:10px;color:#767676;background:;}/*Spriter*/
.shopDetail{width:910px!important;padding:10px 20px;height:116px; overflow:hidden; background:#fff}
.shopDetailTitle{width:910px;height:40px;float:left;margin-bottom:10px}
.shopDetailTitleImg{width:40px;height:40px;float:left;overflow:hidden}
.shopDetailTitleName{width:738px;height:20px;padding-top:20px;float:left;overflow:hidden}
.enterShop{width:122px;height:40px;float:left;background:;}/*Spriter*/
.shopDetailMsg{width:910px;height:37px;overflow:hidden}
.shopDetailMsg ul{width:746px;margin-right:42px;height:35px;border:1px #C6C6C6 dotted; border-left:0; border-right:0;float:left}
.shopDetailMsg ul li{width:186px;height:35px;line-height:35px;float:left}
.markShop{width:122px;height:35px;float:left;background:;}/*Spriter*/
.shopShare{width:55px;height:24px;float:right;margin-top:5px;overflow:hidden}

.chartDetailContent{width:710px;float:left;height:auto}
.chartDetailContent h2{width:710px;height:40px;line-height:40px;margin-bottom:1px;text-indent:10px;background:#fff;font-size:14px}
.chartDetailContents{width:686px;padding:10px 12px;overflow:hidden;background:#fff}
.chartDetailContentImg{width:686px;height:307px;margin-bottom:14px}
.chartDetailContents p{line-height:24px;padding-bottom:20px;}
.chartDetailContents h3{height:30px;line-height:30px;font-size:14px}
.chartDetailContentShare{width:686px;height:30px;border-top:1px #C6C6C6 dotted}


